div {
  margin: 10px 0;
}

.bookingResult-title {
  margin-top: 30px;
  text-align: center;
}

.total-hour {
  margin: 20px 0;
  font-weight: 600;
  font-size: 2rem;
}

.timeslots-container {
  margin-bottom: 0;
}

.reset-btn {
  margin-top: 0;
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  .calendar-width {
    left: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    width: 110% !important;
    font-size: 0.7em !important;
  }

  .calendar-width .k-calendar .k-header {
    font-size: 1rem !important; /* Adjust header font size */
  }
}

ul {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
  background-color: #f0f0f0;
  padding: 20px 30px 50px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  max-width: 500px;
  width: 70vw;
  margin-top: 30px;
}
