div {
  margin: 10px 0;
}

.total-hour {
  margin: 20px 0;
  font-weight: 600;
  font-size: 2rem;
}

.timeslots-container {
  margin-bottom: 0;
}

.reset-btn {
  margin-top: 0;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}
