div {
  margin: 10px 0;
}

.bookingResult-title {
  margin-top: 30px;
  text-align: center;
}

.total-hour {
  margin: 20px 0;
  font-weight: 600;
  font-size: 2rem;
}

.timeslots-container {
  margin-bottom: 0;
}

.confirm-booking {
  display: block;
  content: "";
  background-color: #eac54f;
  font-weight: 520;
  border-radius: 10px;
  width: 68px;
  height: 40px;
  border: none;
}

.confirm-booking:hover {
  background-color: #d6af2e;
}

.reset-btn {
  margin-top: 0;
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  .calendar-width {
    left: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    width: 120% !important;
    font-size: 0.7em !important;
  }

  .calendar-width .k-calendar .k-header {
    font-size: 0.5rem !important; /* Adjust header font size */
  }

  .booking-result-div {
    flex-direction: column;
  }
}

.booking-result-div {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.booking-result-li {
  list-style: none;
  background-color: #f0f0f0;
  padding: 20px 30px 20px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  max-width: 500px;
  width: 80vw;
  margin-top: 30px auto;
}

.booking-result-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.booking-result-buttons button {
  padding: 0.5rem 1rem;
  background-color: #e6c350;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.booking-result-buttons button:hover {
  background-color: #b58c05;
}

.booking-result-buttons button:not(:last-child) {
  margin-right: 0.5rem;
}

.booking-result-buttons button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.btn-position {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.font-weight-bold {
  font-weight: bold;
}
