.contact-us {
  color: #b85e6c;
  text-align: center;
}

.contactus-background {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../../../public/img/contactus-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.contactus-button {
  display: block;
  content: "";
  background-color: #eac54f;
  font-weight: 520;
  width: 25vw;
}
.contactus-button:hover {
  background-color: #daac16;
}

.mb-3 > label {
  font-size: 1rem;
}
