.fav-container {
  display: flex;
  justify-content: space-between;
}

.favourites-h1 {
  text-align: center;
}

.favourites-row {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
  .favourites-row {
    flex-direction: column;
  }
}
