.my-navbar .nav-link:not(.home-logo):hover {
  background: #353535;
  color: #fff;
  box-shadow: inset 0 0 15px #000;
}

.my-navbar {
  background: linear-gradient(to bottom, #ece9e6, #ffffff);
  z-index: 1000;
  border-radius: 10px;
}

.my-navbar .nav-link {
  font-size: 24px;
  border-radius: 10px;
}

.custom-navbar-toggler {
  display: none;
}

@media (max-width: 900px) {
  .custom-navbar-toggler {
    display: block;
  }
}

.search-btn {
  min-width: 60px;
}
