.popular-hotel-container {
  display: flex;
  justify-content: center;
}

.search-container {
  width: 100%;
  height: 80vh; /* set the height of the form to 80% of the viewport height */
  margin: auto; /* center the form horizontally and vertically */
  display: flex; /* use flexbox to center the form contents */
  flex-direction: column; /* stack the form contents vertically */
  justify-content: center; /* center the form contents vertically */
}

.background-image {
  background-position: top;
  background-image: url("../../../public/img/home-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(70%);
}
