.popular-hotel-container {
  display: flex;
  justify-content: center;
}

.search-container {
  width: 100%;
  height: 65vh;
  margin: auto;
}

.background-image {
  background-position: top;
  background-image: url("../../../public/img/home-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(120%);
}

.popular-hotel-center {
  display: flex;
  justify-content: center;
}
