.popular-hotel-container {
  display: flex;
  justify-content: center;
}

.search-container {
  width: 100%;
  height: 65vh;
  margin: auto;
}

.background-image {
  background-position: top;
  background-image: url("../../../public/img/heart-fabric.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(120%);
  border-radius: 15px;
}

.popular-hotel-center {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .background-image {
    height: 30vh !important;
    background-size: contain;
  }
}

.hot-choice {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../../../public/img/hot-choice.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
