.login-form {
  width: 50%;
  height: 80vh; /* set the height of the form to 80% of the viewport height */
  margin: auto; /* center the form horizontally and vertically */
  display: flex;
  /* use flexbox to center the form contents */
  flex-direction: column; /* stack the form contents vertically */
  justify-content: center; /* center the form contents vertically */
}

.wrapper {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../../../public/img/background-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.mb-3 {
  font-size: 24px;
}
