.hotel-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.hotel-card {
  margin-bottom: 10px;
}

.content-container {
  padding: 0px 20px;
}

.swiper {
  width: 100%;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 500px;
  height: 100%;
  object-fit: cover;
}

.pagination {
  justify-content: center;
}

.map {
  width: 600px;
}

h2 {
  text-align: center;
}
.rating {
  text-align: left;
}

.title-container {
  display: flex;
  justify-content: center;
}

.fav-container {
  display: flex;
  justify-content: space-between;
}

.map-container {
  position: relative;
  padding-bottom: 56.25%; /* This maintains a 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important; /* Override any inline width setting */
  height: 100% !important; /* Override any inline height setting */
}

