version: '3'

services:
  sweethour:
    environment:
      DATABASE_URL: postgresql://kokpanyau:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?schema=public
      POSTGRES_USER: kokpanyau
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: ${POSTGRES_HOST}
      NODE_ENV: production
      PORT: 8070
    depends_on:
      - postgres
    build:
      context: ./
      dockerfile: ./Dockerfile
    image: 'paninsula/sweethour-server:latest'
    ports:
      - '8080:8070'

  postgres:
    image: 'postgres:13'
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '5432:5432'
    volumes:
      - ./pgdata:/var/lib/postgresql/data