.equipment {
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.equipment-title {
  font-size: 36px;
  margin-left: 25px;
}

.equipment-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}

.equipment-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  text-align: center;
  font-size: 36px;
}

p {
  margin-right: 20px;
  justify-content: center;
}

@media (max-width: 480px) {
  .equipment-item {
    font-size: 14px;
    margin: 0 10px;
  }
}

@media (min-width: 768px) {
  .equipment-item {
    font-size: 18px;
    margin: 0 10px;
  }
}

@media (min-width: 900px) {
  .equipment-item {
    font-size: 20px;
    margin: 0 10px;
  }
}

@media (min-width: 1280px) {
  .equipment-item {
    font-size: 24px;
    margin: 0 10px;
  }
}

@media (min-width: 1600px) {
  .equipment-item {
    font-size: 28px;
    margin: 0 10px;
  }
}
